.footer {
  height: 200px;
  width: 100%;
  background-color: black;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-section {
  max-width: 300px;
}

.footer-section h4 {
  color: rgb(255, 251, 251);
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: rgb(255, 251, 251);
  text-decoration: none;
  font-family: 'Arial', sans-serif; /* стиль шрифта */
  font-size: 16px; /* базовый размер шрифта */
  transition: color 0.3s, transform 0.3s, text-shadow 0.3s;
}

.footer-section ul li a:hover {
  color: #01b3ffda; /* светло-розовый цвет при наведении */
  transform: scale(1.1); /* увеличение масштаба */
  text-decoration: none; /* убираем подчеркивание */
  animation: pulse 1s infinite; /* эффект пульсации */
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.05);
  }
  100% {
      transform: scale(1);
  }
}
