ol{
    background-color: rgb(237,158,174);
    width: 300px;
    padding: 20px 20px 20px 20px;
    list-style: none;
}
li{
    background-color: rgb(198,99,118);
    padding: 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
span{
    background-color: rgb(158,53,74);
    padding: 10.5px;
    margin-left: 7px;
}