.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: #1f1f1f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.header-container:hover {
  background-color: #333333;
}

.logo-container {
  margin-left: 20px;
}

.logo-container img {
  height: 60px;
}

.navbar-container {
  display: flex;
  gap: 30px;
}

.nav-button {
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 25px;
  background-color: #01b3ffda;
  color: #000000;
  font-size: 1.24rem;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  padding: 10px 20px;
  cursor: pointer;
}

.nav-button:hover {
  color: #ffffff;
  background-color: #282c34;
  transform: scale(1.1) rotate(-5deg);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.search-input {
  padding: 8px 12px;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-input:focus {
  border-color: #01b3ff;
  box-shadow: 0 0 10px rgba(1, 179, 255, 0.5);
}

.search-button {
  padding: 8px 12px;
  margin-left: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  background-color: #01b3ffda;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.search-button:hover {
  background-color: #282c34;
  color: #ffffff;
  transform: scale(1.1);
}

.user-favorites-container {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.user-menu-container {
  position: relative;
}

.user-icon {
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease, border-radius 0.3s ease;
  border-radius: 20%;
}

.user-icon:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
  border-radius: 50%;
}

.user-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  transform: translateY(-20px);
}

.user-menu.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.user-menu button {
  display: block;
  width: 100%;
  padding: 12px 20px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, border-radius 0.3s ease;
  border-radius: 8px;
  margin-bottom: 5px;
  color: #333;
}

.user-menu button:hover {
  background-color: #e0e0e0;
  transform: scale(1.05) translateX(5px);
  border-radius: 12px;
}

.user-menu button:last-child {
  margin-bottom: 0;
}
