h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    list-style: none;
    width: 400px;

}
ul li{
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 30px;
    display: flex;
    align-items: center;
}
ul li:nth-child(even) {
    background-color: rgb(226,226,226); }

ul li:nth-child(odd) {
    background-color: rgb(165,204,218); }
span{
    margin-top: 10px;
}
.x{
    color: red;
    margin-left: 50px;
    margin-right: 5px;
}
ul li:nth-child(2) ,ul li:nth-child(5),ul li:nth-child(11){
    background-color: gray; 
}