code{
    color:red;
    background-color: rgb(187, 187, 187);
    width: 400px;
    display: flex;
    justify-content: center;
}
hr{
    width: 700px;
}
h1,h2{
    display: flex;
    justify-content: center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    margin: 0 auto;
    width: 700px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div{
    margin: 0 auto; 
    width: 750px;
    background-color: rgb(246, 246, 246);
}