body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid #00cff8;
    border-radius: 50%;
}

.hour-hand{
    position: absolute;
    top: 25%;
    left: 50%;
    transform-origin: bottom center;
    background-color: black;
    animation-duration: 12s; 
    animation-timing-function: linear; 
    animation-iteration-count: infinite; 
}
.minute-hand {
    position: absolute;
    top:15%;
    left: 50%;
    transform-origin: bottom center;
    background-color: black;
    animation-duration: 12s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.hour-hand {
    width: 5px;
    height: 50px;
    background-color: #00cff8;
    animation-name: rotateHourHand;
}

.minute-hand {
    width: 3px;
    background-color: #00cff8;
    height: 70px;
    animation-name: rotateMinuteHand;
    animation-duration: 6s;
}

@keyframes rotateHourHand {
    from {
        transform: translateX(-50%) rotate(0deg);
    }
    to {
        transform: translateX(-50%) rotate(360deg);
    }
}

@keyframes rotateMinuteHand {
    from {
        transform: translateX(-50%) rotate(0deg);
    }
    to {
        transform: translateX(-50%) rotate(360deg);
    }
}